.todo-list {
  & > li {
    cursor: pointer;
    max-width: fit-content;
    transition: all 0.25s linear;
    font-weight: 600;
  }

  & > li.completed {
    font-style: italic;
    color: #ccc;
    text-decoration: line-through;
  }
}
